name: Build Flutter APK

on:
  push:
    branches:
      - main  # เมื่อ push ขึ้น main ระบบจะทำงานทันที

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (Release)
        # เพิ่มการแสดงชื่อผู้พัฒนาใน Log เพื่อยืนยันตัวตน
        run: |
          echo "Developing by sutee-f"
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-sutee-f  # เปลี่ยนชื่อไฟล์ให้ระบุตัวตนได้ชัดเจน
          path: build/app/outputs/flutter-apk/app-release.apk