name: Build Flutter APK
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        # บรรทัดนี้จะไปโหลด firebase และอื่นๆ มาให้เองอัตโนมัติบน GitHub
        run: flutter pub get

      - name: Build APK
        # เพิ่ม --debug เพื่อให้ Build ผ่านง่ายขึ้นสำหรับส่งงาน
        run: flutter build apk --debug --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-sutee-f
          path: build/app/outputs/flutter-apk/*.apk